[Unit]
Description=Daily Calendar Sync Timer
Requires=calsync.service

[Timer]
OnCalendar=hourly

# Run immediately if the last trigger was missed (computer was off/suspended)
Persistent=true

# Randomize start time by up to 5 minutes to avoid thundering herd
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target
